# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

# http://docs.travis-ci.com/user/languages/java/
language: java

jdk:
  - oraclejdk8
  
notifications:
  email: false
  slack: wlc:Kinf3gdySndcFTBtjcci3rJN
